{% load common_tags %}
{% if form.non_field_errors %}
    {% include "includes/_form-error.html" with css_class="mb-3" errors=form.non_field_errors %}
{% endif %}
{% for field in form %}
    {% if field.field.widget.input_type == "checkbox" %}
        <div class="form-check mb-6">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label|title }}</label>
        </div>
    {% else %}
        <div class="{% if field.errors %} mb-1 {% else %} mb-4 {% endif %}">
            <label class="form-label mb-2" for="{{ field.id_for_label }}">{{ field.label|title }}</label>
            {{ field|add_error_class:field.errors }}
        </div>
    {% endif %}
    {% if field.errors %}
        {% include "includes/_form-error.html" with css_class="mb-4" errors=field.errors %}
    {% endif %}
{% endfor %}
