<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
    </head>
    <body>
        <p>
            Hello
            {% if user.full_name %}
                {{ user.full_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </p>
        <p>
            You are receiving this email because you requested a password reset for your account at {{ PROJECT_NAME_SHORT }}.
            <br>
            <br>
            Click the link below to reset your password:
            <br>
            {{ protocol }}://{{ domain }}{% url 'user_reset_password' uidb64=uid token=token %}
            <br>
            <br>
            If you didn’t request this, you can safely ignore this email.
            <br>
            <br>
        </p>
        <p>Thanks</p>
    </body>
</html>
