{% extends "_dash_base.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        List Print
    {% endif %}
{% endblock title %}
{% block head_link %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #999;
            padding: 8px;
        }

        .pre-line {
            white-space: pre-line;
        }

        @media print {
            body * {
                visibility: hidden;
            }

            #print-area,
            #print-area * {
                visibility: visible;
            }

            #print-area {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
            }

            .no-print {
                display: none !important;
            }
        }
    </style>
{% endblock head_link %}
{% block content %}
    <div class="card mb-6">
        <div class="card-body">
            <div id="print-area">
                <div class="d-flex align-items-center justify-content-between gap-2 mb-4">
                    <h4>
                        {% if header %}
                            {{ header }}
                        {% else %}
                            List Print
                        {% endif %}
                    </h4>
                    <button class="no-print btn btn-sm btn-primary" onclick="window.print()">Print</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Date Joined</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.profile.full_name }}</td>
                                <td>
                                    {% if user.is_active %}
                                        Active
                                    {% else %}
                                        Disabled
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.is_superuser %}
                                        Admin
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.profile.phone_number %}{{ user.profile.phone_number }}{% endif %}
                                </td>
                                <td>{{ user.profile.gender|title }}</td>
                                <td>{{ user.date_joined|date:"d-m-Y h:i:s A T" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
