{% extends "_base.html" %}
{% load static %}
{% block htmlclass %}
    h-100
{% endblock htmlclass %}
{% block title %}
    Reset Password Successful
{% endblock title %}
{% block bodyclass %}
    h-100
{% endblock bodyclass %}
{% block content %}
    <div class="mid-center-container">
        <div class="mid-center-inner">
            <div class="card">
                <div class="card-body">
                    <div class="app-brand">
                        <a href="#" class="app-brand-link">
                            <img src="{% static 'assets/img/logo.png' %}"
                                 alt="Logo"
                                 class="logo-image">
                            <h5 class="logo-text">{{ PROJECT_NAME_SHORT }}</h5>
                        </a>
                    </div>
                    <div class="mb-5">
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <i class="bx bx-check-square fs-6 text-primary"></i>
                            <h5>Password Reset Successful</h5>
                        </div>
                        <p>Your new password has been set. You can now login to your account using this password.</p>
                    </div>
                    <div class="mb-4">
                        <a href="{% url "user_login" %}" class="btn btn-primary w-100">Back to Login</a>
                    </div>
                    <div>
                        <p class="text-center">
                            <a href="{% url "index" %}">
                                <span>Home</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
