{% extends "_base.html" %}
{% load static %}
{% block htmlclass %}
    h-100
{% endblock htmlclass %}
{% block title %}
    Under Maintenance
{% endblock title %}
{% block bodyclass %}
    h-100
{% endblock bodyclass %}
{% block content %}
    <div class="mid-center-container">
        <div class="mid-center-inner">
            <div class="text-center">
                <h1 class="fs-24 lh-22 mb-3 text-warning">503</h1>
                <h4 class="mb-2">Under Maintenance</h4>
                <p class="mb-8">The site is under maintenance. We will be back soon!</p>
            </div>
        </div>
    </div>
{% endblock content %}
